body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

header {
  background: #1e1e1e;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

button {
  padding: 8px 15px;
  margin: 0 10px;
}

#autocomplete {
  background: #fff;
  color: #000;
  position: absolute;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: absolute;
  top: 60px;
  left: 65%;
  transform: translateX(-50%);
}
#search-input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
  width: 200px;
  outline: none;
}
#autocomplete-item {
  padding: 10px;
  cursor: pointer;
}
#autocomplete-item:hover {
  background-color: #f0f0f0;
}
#autocomplete-item a {
  text-decoration: none;
  color: #000;
  display: block;
}
.jesais {
  display: grid;
  grid-template-rows: auto 1fr;
  place-content: center;
}
